.App {
  text-align: center;
  background-color: skyblue;
  height: 20vh;
  width: 50vh;
}
.linethru {
  text-decoration: line-through;
  color: red;
}
button {
  display: inline;
}
body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 90vh;
  background-color: aquamarine;
}
ul {
  background-color: skyblue;
  padding: 30px;
}
.inline {
  display: flex;
  width: 100%;
}
.todo_item {
  color: rgb(93, 0, 243);
}
.todo_item:hover {
  color: white;
}
li {
  list-style-type: none;
  width: 50%;
  margin: auto;
  font-size: 20px;
}
